<!DOCTYPE html>
<html class="no-js" ng-app="color">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Play with color</title>
        <meta name="description" content="">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-controller="MainController" ng-init="randomize()">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background: rgb({{red}}, {{green}}, {{blue}});">
            <div class="container">
                <h2 ng-bind="rgb2hex(red,green,blue)" class="col-xs-6"></h2>
            </div>
        </nav>

        <div class="container">
          <!-- Example row of columns -->
          <div class="row swatches">
            <div class="col-xs-6  col-sm-4 col-md-3 col-lg-2" ng-repeat="swatch in swatches" 
              ng-click="mix(swatch.0, swatch.1, swatch.2)">
              <div class="swatch col-xs-12"
                style="background-color: rgb({{swatch.0}}, {{swatch.1}}, {{swatch.2}});">
                <h3 ng-bind="rgb2hex(swatch.0,swatch.1,swatch.2)"></h3>
              </div>
            </div>
          </div>
        </div> <!-- /container -->  

        <div class="modal fade" id="instructions">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <p>Click on any swatch to mix some of that color into the color you're currently editing. When you've found a color you like, click the save button.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <a class="btn btn-default navbar-btn" role="button" data-toggle="modal" data-target="#instructions"><i class="glyphicon glyphicon-question-sign"></i></a>
                <a class="btn btn-default navbar-btn" role="button" ng-click="randomize()"><i class="glyphicon glyphicon-random"></i></a>
                <a class="btn btn-default navbar-btn" role="button" ng-click="save()"><i class="glyphicon glyphicon-save"></i></a>
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
